.cartItem div {
  display: flex;
  justify-content: space-around;
  height: 6rem;

  margin-bottom: 1.5rem;
}

.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;

  border: 1px solid blue;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.25rem;
  color: black;
}

.price {
  color: gray;
}

.buttonDiv button {
  all: revert;
  height: 2rem;
  width: 2rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
  background-color: white;
}

.buttonDiv p {
  font-size: 1.5rem;
}

.lineBreak {
  margin-bottom: 1.5rem;
}
