.cartItem div {
  display: flex;
  justify-content: space-around;
  height: 6rem;

  margin-bottom: 1.5rem;
}

.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.25rem;
  color: black;
}

.price {
  color: gray;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
}

.buttonDiv button {
  all: revert;
  border: none;
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
  background-color: white;
}

.amount {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.productSum {
  color: gray;
  text-align: center;
}
.lineBreak {
  margin-bottom: 1.5rem;
}
