.userForm h2 {
  all: revert;
  text-align: center;
}

.userForm div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.userForm label {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.userForm input {
  all: revert;
  width: 100%;
  max-width: 500px;
  height: 2rem;
  font-size: 1.2rem;
}

.userForm button {
  all: revert;
  width: 100%;
  max-width: 250px;
  height: 3rem;
  background-color: olive;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.userForm button:hover {
  background-color: olivedrab;
}

.linkDiv {
  display: flex;
  justify-content: center;
}

.link {
  color: rgb(156, 156, 156);
}

.joiningAgreement {
  display: flex;
}

.joiningAgreement a {
  text-decoration: underline;
}
