.homePage {
}

.homePage button,
.homePage h2 {
  all: revert;
}

.aboutUs {
  width: 100%;
  text-align: center;
  background-color: rgb(96, 129, 96);
  padding: 2rem 0;
}

.aboutUs p {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.aboutUs button {
  cursor: pointer;
  width: 5rem;
  height: 3rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
}

.aboutUs button:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}
