.billingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 720px;

  background-color: orange;
}

.billingForm input {
  all: revert;
  width: 90%;
}
