.checkout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.checkoutDetails {
  min-width: 60%;
}

.checkoutSection {
  min-width: 40%;
  margin: 1rem 0;
}

.checkoutProducts {
  width: 100%;
  height: 450px;
  overflow-y: auto;
}

.checkout h2 {
  all: revert;
}

.checkoutBtn {
  all: revert;
  cursor: pointer;
}

.joiningAgreement a {
  text-decoration: underline;
}
